@import "~bootstrap/scss/bootstrap";
@import "~bootstrap-icons/font/bootstrap-icons";
@import "fonts/fonts";

$font-color: #777;

body {
  position: relative;
  font: 400 15px/1.8 Lato, sans-serif;
  color: $font-color
}

.jumbotron {
  padding: 2rem 1rem;
  margin-bottom: 2rem;
  background-color: #e9ecef;
  border-radius: .3rem;
}

.navbar {
  opacity: 0.95;
  font-family: Montserrat, sans-serif;
  letter-spacing: 2px;
}

.navbar-scroll {
  position: fixed;
  top: 0px;
  right: 0;
  left: 0;
  z-index: 1030;
  transform:translateY(-100%);
}

.scroll-fade {
  visibility: hidden !important;
  opacity: 0;
}

.scroll-fade-in {
  visibility: visible !important;
  opacity: 1;
  transition: all 0.3s ease-in-out;
}

.navbar-hidden {
   transform:translateY(-100%); transition: all 0.3s ease-in-out;
}

.navbar-visible {
  transform:translateY(0); transition: all 0.3s ease-in-out;
}

.tooltip-link {
  color: $font-color;
}

.exp-img {
  width: 6%;
  margin-right: .3rem !important;
}

.contact-ul {
  list-style-type: none;
}

.contact-ul i {
  font-size: 1.5em;
  margin-right: .3rem !important;
}

@include media-breakpoint-only(lg) {
  .jumbotron-img {
    width: 70%;
  }
}

@include media-breakpoint-up(xl) {
  .jumbotron-img {
    width: 60%;
  }
}

@include media-breakpoint-only(md) {
  .exp-list {
    width: 80%;
  }
}

@include media-breakpoint-up(lg) {
  .exp-list{
    width: 60%;
  }
}

.exp-bullet {
  color: #14acde;
  font-weight: bolder;
  padding-right: .25em;
}

.what-img {
  width: 29%;
}